#nav_container {
    width: 100%;
    float: left;
    background-color: black;
}

#nav_bar {
    background-color: aqua;
    width: 350px;
    float: left;
}

#login_form {
    position: fixed; 
    top: 25%;
    left: 40%;
    background-color: 383838;
    border: 1px;
    border-color: cornflowerblue;
    border-style: solid;
}

#login_button {
    position: relative;
    left: 37%;
}

#login_text {
    color: cornflowerblue;
}

#date_time {
    width: 10%;
}

#from_who {
    width: 6%;
}

#route {
    width: 5%;
}

#transport {
    width: 7%;
}

#description {
    width: 30%;
}

#note {
    width: 30%;
}

#brigade {
    width: 5%;
}

#num_car {
    width: 5%;
}

#name_disp {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#brand {
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}

#block_header {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
    border-bottom: 1px gray solid;
    padding-bottom: 10px;
}

#search_date {
    float: left;
    width: 27.5%;
}

#search_action {
    float: left;
}

#record_add_btn {
    float: right;
}