{% extends 'arm/base/base.html' %}
{% block title %} Телефонный справочник {% endblock title %}
{% block content %}

<p><h3>Телефонный справочник</h3></p>
<p><form action="#" method="get">
  <input name="q" type="text" placeholder="Искать...">
</form>
</p>

<p><a href="{% url 'company_add' %}">Добавить организацию</a></p>

<table class="table table-hover table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col" id="description">Организация</th>
      <th scope="col" id="description">Редактировать</th>
      <th scope="col" id="description">Удалить</th>
    </tr>
  </thead>
  {% if companies %}
  {% for c in companies %}
  <tbody>
    <tr class="bg-light text-dark">
      <td>{{ c.name }}</td>
      <td><a href="{% url 'company_edit' c.pk %}">Редактировать</a></td>
      <td><a href="{% url 'company_delete' c.pk %}">Удалить</a></td>
    </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>

{% endblock content %}