{% extends 'arm/base/base.html' %}
{% block title %} Оперативный журнал {% endblock title %}
{% block content %}

<p class="mt-2" id="block_header">{% block header %} Оперативный журнал {% endblock header %}</p>
<div class="mb-2" id="#">
  <div class="#" id="search_date">
     <form action="{% url 'search_date' %}" method="get">
       <input class="#" name="date" type="date">
       <button class="btn btn-outline-info" type="submit">Искать</button>
     </form>
  </div>
  <div id="search_action">
    <form action="{% url 'search' %}" method="get">
      <input name="q" type="text" placeholder="Искать...">
      <button class="btn btn-outline-info" type="submit">Искать</button>
    </form>
  </div>
  <div id="record_add_btn">
    <a class="btn btn-primary" href="{% url 'add_record' %}">Добавить запись</a>
    <a class="btn btn-primary" href="{% url 'convert_pdf' %}">Сформировать PDF</a>
  </div>
</div>

<table class="table bg-info table-bordered">
  <thead>
    <tr>
      <th scope="col" id="date_time">Дата/Время</th>
      <th scope="col" id="from_who">От кого</th>
      <th scope="col" id="route">Маршрут</th>
      <th scope="col" id="transport">Вид транспорта</th>
      <th scope="col" id="description">Событие</th>
      <th scope="col" id="note">Примечание</th>
      <th scope="col" id="brigade">Бригада</th>
      <th scope="col" id="num_car">Номер машины</th>
      <th scope="col" id="update">Редактировать запись</th>
    </tr>
  </thead>
  {% for record in records %}
  <tbody>
  {% if record %}
    <tr class="bg-light text-dark">
      <td>{{record.date}} {{ record.time }}</td>
      <td>{{record.from_who}}</td>
      <td>{{record.route}}</td>
      <td>{{record.transport}}</td>
      <td>{{record.description}}</td>
      <td>{{record.note}}</td>
      <td>{{record.brigade }}</td>
      <td>{{record.num_car}}</td>
      <td><a class="btn btn-secondary" href="{% url 'record_update' record.pk %}">Редактировать</a></td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>

{% endblock content %}