{% load static %}
<html>
<head>
    <title>{% block title %}Арм электродиспетчера{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "arm/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "arm/css/style.css" %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light m-1 rounded" style="background-color: #FFD073;">
      <a class="navbar-brand" href="{% url 'record_index' %}" id="brand">
          <img src="{% static 'arm/images/sget-logo.png' %}" width="75" height="37" alt="" loading="lazy">
          АРМ ЭД</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-info ml-1" href="{% url 'record_index' %}">Оперативный журнал <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info ml-1" href="{% url 'company_index' %}">Телефонный справочник</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info ml-1" href="{% url 'schema_main' %}">Схемы электроснабжения</a>
          </li>
        </ul>

      </div>
      <div class="justify-content-end">
          <span class="mr-2" id="name_disp">{{ user.last_name }} {{ user.first_name }}</span>
           <a class="btn btn-info" href="{% url 'logout' %}">Выйти</a>
      </div>
      {% endif %}
   </nav>
<div class='m-1'>
{% block content %}
{% endblock content %}
</div>

<script src="{% static 'arm/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'arm/js/popper.min.js' %}"></script>
<script src="{% static 'arm/js/bootstrap.js' %}"></script>

</body>
</html>